



/* Scroll to top */

.scroll-to-top{
  position: fixed;
    bottom: 50px;
    right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #1b166385;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    z-index: 1000;
}

.scroll-to-top i{
  color: rgba(255, 255, 255, 0.506);
  transition: all 0.5s ease-in-out;
}

.scroll-to-top:hover{
  cursor: pointer;
  transform: scale(1.3);
  background-color: #1b1663de;
}
.scroll-to-top:hover i{
  color: #fff;
  transform: scale(1.3) rotate(360deg);
}

.popup{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 10;

  background-color: rgba(0, 0, 0, 0.429);
}

.popup .modal-content{
  width: 96%;
  max-width: 500px;
}

/* LOADING */

.loading{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-color: #FDF9E2;
  transition: all 0.5s ease-in-out;
}

.loading.remove{
  animation: remove-loading 0.5s forwards;
}

.loading img:first-child{
  width: 200px;
  transition: all 0.5s ease-in-out;
  transform: translateY(60px);
}

.loading img:last-child{
  max-width: 100px;
}

.bg-header{
  height: calc(100vh - 34px);
  width: 100vw;

  background: url(../images/background-intro.jpg) no-repeat center center;
  background-size: 100% 100%;
}


/* TOP */
.top{
  text-align: center;
  background-color: #B22727;
  color: #fff;
  padding: 4px 0 8px;
  letter-spacing: 1px;
}

/* INTRO */
.intro{
  padding: 100px 0;
  background:  url(../images/telegram-cloud-photo-size-5-6134046759022866938-x.png) no-repeat center center;
  background-size: 100% auto;
  background-image: linear-gradient(#15141478, #151414d6),
    url(../images/telegram-cloud-photo-size-5-6134046759022866938-x.png);
  background-blend-mode: hard-light;
}

.intro-title{
  color: #fff;
  margin-top: 20px;
  font-size: 20px;
}

/* INVITE */

.invite{
  padding: 30px 0 0;
  background: url(../images/10.png) no-repeat top right;
  background-size: auto 60%;
}

.invite-title img{
  height: 60px;
  width: auto;
}

.invite-content{
  font-family: monospace;
  margin-top: 20px;
}

.invite-img img{
  width: 90%;
  margin-top: 20px;
}

.invite-footer{
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.invite-footer img{
  width: 50%;
}

/* TIME */
.time{
  background: #006E7F;
  padding: 60px 0;
}

.time-value{
  font-size: 80px;
  margin-bottom: 20px;
  color: #fff;
}

.time-date{
  color: #fff;
  font-size: 30px;
}

/* SCHEDULE */
.schedule{
  padding: 30px 0 0;
  background: url(../images/7.png) no-repeat top left;
  background-size: contain;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
}

.schedule-right{
  position: absolute;
  top: 50%;
  right: 0;

  width: 230px;

  transform: translateY(-50%)
}

.schedule img:first-child{
  width: 180px;
}

.schedule img:last-child{
  width: 240px;
}

.location-title img{
  height: 140px;
  width: auto;
}

.schedule-content{
  width: 100%;
  max-width: 700px;
  padding: 10px;
  font-weight: 700;
  text-align: center;
}

/* LOCATION */
.location{
  position: relative;
}

.location-title{
  font-size: 20px;
  margin-top: 20px;
  color: #B22727;
  z-index: 1;
}

.location-car{
  position: absolute;
  top: 0;
  right: 0;
  width: 15vw;
}

.location-desc{
  font-size: 14px;
  margin: 10px 0 30px;
}

.location-content{
  padding: 0 0 20px;
}

.location-content img{
  object-fit: cover;
}

.location-iframe{
  margin: 20px 0;
}

.iframe-wrapper{
  border: 3px solid #B22727;
}

/* CONFIRM */
.confirm{
  padding: 10px 0;
}

.confirm-title{
  padding: 30px 0;
  background: url(../images/2.png) no-repeat center center;
  background-size: 100% 100%;
}

.confirm-title img{
  height: 80px;
  width: auto;
}

.confirm-form-title {
  margin-bottom: 30px;
}

.confirm-content{
  padding: 50px 0;
}

.form-group{
  display: flex;
  align-items: center;
}

.form-group label{
  min-width: 100px;
  font-size: 12px;
}

.confirm-form{
  background: url(../images/form.png) no-repeat center center;
  background-size: 100% 100%;
  
  padding: 40px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-group{
  justify-content: space-between;
}

.form-group input{
  flex: 1;
  max-width: 300px;
}

.confirm-form-img{
  display: flex;
  justify-content: flex-end;
  position: relative;

  padding-top: 30px;
}

.confirm-button{
  background-color: #F7E3E3;
  border: none;
  border-radius: 20px;
  padding: 4px 12px 10px;
}

.noti{
  position: absolute;
  top: -26%;
  left: 9%;
  transition: all 0.5s ease-in-out;
  
  animation: noti-fly 2s linear infinite alternate;
}

.confirm-form-img img{
  width: 50%;
}

/* ALBUM */
.album{
  background-color: #01161B;
  padding: 40px 30px 40px;
  margin-bottom: 40px;
}

.album .col-4{
  padding: 10px;
  max-height: 200px;
  overflow: hidden;
}

.album .col-4 div{
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.album .col-4 div:hover{
  cursor: pointer;
  transform: scale(0.95);
}

.album-title{
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
}

.album-viewmore{
  color: #fff;
  padding-top: 10px;
}

/* FOOTER */

.footer{
  padding: 50px 0;
  background: url(../images/footer-bg.png) no-repeat top center;
  background-size: 100% auto;
}

.footer-title img{
  height: 140px;
  width: auto;
}




/*  */

.letter-image {
	 position: absolute;
	 top: 100%;
	 left: 50%;
	 width: 200px;
	 height: 200px;
	 -webkit-transform: translate(-50%, -50%);
	 -moz-transform: translate(-50%, -50%);
	 cursor: pointer;
   transition: all 0.5s ease-in-out;
   opacity: 0;
	 transform: translate(-50%, -50%) scale(0);
}

.letter-image.active{
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

 .animated-mail {
	 position: absolute;
	 height: 150px;
	 width: 200px;
	 -webkit-transition: 0.4s;
	 -moz-transition: 0.4s;
	 transition: 0.4s;
}
 .animated-mail .body {
	 position: absolute;
	 bottom: 0;
	 width: 0;
	 height: 0;
	 border-style: solid;
	 border-width: 0px 0px 100px 200px;
	 border-color: transparent transparent #007a8d transparent;
	 z-index: 2;
}
 .animated-mail .top-fold {
	 position: absolute;
	 top: 50px;
	 width: 0;
	 height: 0;
	 border-style: solid;
	 border-width: 50px 100px 0 100px;
	 -webkit-transform-origin: 50% 0%;
	 -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
	 -moz-transform-origin: 50% 0%;
	 -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
	 transform-origin: 50% 0%;
	 transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
	 border-color: #008a9f transparent transparent transparent;
	 z-index: 2;
}
 .animated-mail .back-fold {
	 position: absolute;
	 bottom: 0;
	 width: 200px;
	 height: 100px;
	 background: #003a43;
	 z-index: 0;
}
 .animated-mail .left-fold {
	 position: absolute;
	 bottom: 0;
	 width: 0;
	 height: 0;
	 border-style: solid;
	 border-width: 50px 0 50px 100px;
	 border-color: transparent transparent transparent #006E7F;
	 z-index: 2;
}
 .animated-mail .letter {
	 left: 20px;
	 bottom: 0px;
	 position: absolute;
	 width: 160px;
	 height: 60px;
	 background: #000;
	 z-index: 1;
	 overflow: hidden;
	 -webkit-transition: 0.4s 0.2s;
	 -moz-transition: 0.4s 0.2s;
	 transition: 0.4s 0.2s;
}
 .animated-mail .letter .letter-border {
	 height: 10px;
	 width: 100%;
	 background: repeating-linear-gradient(-45deg, #cb5a5e, #cb5a5e 8px, transparent 8px, transparent 18px);
}
 .animated-mail .letter .letter-title {
	 margin-top: 10px;
	 margin-left: 5px;
	 height: 10px;
	 width: 40%;
	 background: #cb5a5e;
}
 .animated-mail .letter .letter-context {
	 margin-top: 10px;
	 margin-left: 5px;
	 height: 10px;
	 width: 20%;
	 background: #cb5a5e;
}
 .animated-mail .letter .letter-stamp {
	 margin-top: 30px;
	 margin-left: 120px;
	 border-radius: 100%;
	 height: 30px;
	 width: 30px;
	 background: #cb5a5e;
	 opacity: 0.3;
}
 .shadow {
	 position: absolute;
	 top: 200px;
	 left: 50%;
	 width: 400px;
	 height: 30px;
	 transition: 0.4s;
	 transform: translateX(-50%);
	 -webkit-transition: 0.4s;
	 -webkit-transform: translateX(-50%);
	 -moz-transition: 0.4s;
	 -moz-transform: translateX(-50%);
	 border-radius: 100%;
	 background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
}
 .letter-image:hover .animated-mail {
	 transform: translateY(50px);
	 -webkit-transform: translateY(50px);
	 -moz-transform: translateY(50px);
}
 .letter-image:hover .animated-mail .top-fold {
	 transition: transform 0.4s, z-index 0.2s;
	 transform: rotateX(180deg);
	 -webkit-transition: transform 0.4s, z-index 0.2s;
	 -webkit-transform: rotateX(180deg);
	 -moz-transition: transform 0.4s, z-index 0.2s;
	 -moz-transform: rotateX(180deg);
	 z-index: 0;
}
 .letter-image:hover .animated-mail .letter {
	 height: 180px;
	 background-color: #fff;
}
 .letter-image:hover .shadow {
	 width: 250px;
}

.maril-qr{
  position: absolute;
  bottom: 10px;
  right: 2px;

  width: 20px;
  height: 20px;

  z-index: 10;
}

.maril-qr img{
  position: relative !important;
  transform: translateY(0) !important;
  width: 100% !important;
  height: auto !important;
}

.letter-content:hover{
  color: #F8CB2E;
}


/* LOADING */

.ldio-lxumcnz9cci div {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(80px, 80px) scale(1);
    background: #3c7f72;
    animation: ldio-lxumcnz9cci 1s infinite cubic-bezier(0, 0.5, 0.5, 1);
}

.ldio-lxumcnz9cci div:nth-child(1) {
    background: #992800;
    transform: translate(148px, 80px) scale(1);
    animation: ldio-lxumcnz9cci-r 0.25s infinite cubic-bezier(0, 0.5, 0.5, 1), ldio-lxumcnz9cci-c 1s infinite step-start;
}

.ldio-lxumcnz9cci div:nth-child(2) {
    animation-delay: -0.25s;
    background: #3c7f72;
}

.ldio-lxumcnz9cci div:nth-child(3) {
    animation-delay: -0.5s;
    background: #992800;
}

.ldio-lxumcnz9cci div:nth-child(4) {
    animation-delay: -0.75s;
    background: #d34a24;
}

.ldio-lxumcnz9cci div:nth-child(5) {
    animation-delay: -1s;
    background: #ffaf01;
}

.loadingio-spinner-ellipsis-wjz80d6vas9 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-lxumcnz9cci {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-lxumcnz9cci div {
    box-sizing: content-box;
}

.loading-gif{
  transition: all 0.5s ease;
  transform: scale(0.7);
}

/* animation */
@keyframes header-title {
  0% { 
    opacity: 0;
    transform: translateX(-100vw)
  }
  
  100% { 
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes fly {
  0% {
    transform: translateY(0px)
  }
  
  100% { 
    transform: translateY(30px)
  }
}

@keyframes rotate-360 {
  0% { 
    transform: rotate(0deg) scale(0.5)
  }
  100% { 
    transform: rotate(360deg) scale(8)
  }
}

/* Wobble Horizontal */
@keyframes wobble-horizontal {
	16.65% {
		transform: translateX(12px);
	}

	33.3% {
		transform: translateX(-12px);
	}

	49.95% {
		transform: translateX(4px);
	}

	66.6% {
		transform: translateX(-12px);
	}

	83.25% {
		transform: translateX(12px);
	}

	100% {
		transform: translateX(0);
	}
}

.rotate-360{
  animation: rotate-360 2s linear infinite alternate;
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


@keyframes wobble-vertical {
	16.65% {
		transform: translateY(8px);
	}

	33.3% {
		transform: translateY(-6px);
	}

	49.95% {
		transform: translateY(4px);
	}

	66.6% {
		transform: translateY(-2px);
	}

	83.25% {
		transform: translateY(1px);
	}

	100% {
		transform: translateY(0);
	}
}


@keyframes intro-button {
  0% { 
    transform: scale(1)
  }
  
  100% { 
    transform: scale(1.2)
  }
}

@keyframes remove-loading {
    100% {
       transform: scale(0);
       opacity: 0;
    }
}

@keyframes ldio-lxumcnz9cci {
    0% {
        transform: translate(12px, 80px) scale(0);
    }

    25% {
        transform: translate(12px, 80px) scale(0);
    }

    50% {
        transform: translate(12px, 80px) scale(1);
    }

    75% {
        transform: translate(80px, 80px) scale(1);
    }

    100% {
        transform: translate(148px, 80px) scale(1);
    }
}

@keyframes ldio-lxumcnz9cci-r {
    0% {
        transform: translate(148px, 80px) scale(1);
    }

    100% {
        transform: translate(148px, 80px) scale(0);
    }
}

@keyframes ldio-lxumcnz9cci-c {
    0% {
        background: #3c7f72
    }

    25% {
        background: #ffaf01
    }

    50% {
        background: #d34a24
    }

    75% {
        background: #992800
    }

    100% {
        background: #3c7f72
    }
}

@keyframes noti-fly {
  0% {
      transform: translateY(5px);
  }
  100% {
      transform: translateY(15px);
  }
}
