
/* PC only */

@media (min-width: 1024px) {
    .hide-on-pc {
        display: none !important;
    }

}

/* Tablet to PC low resolution */
@media (min-width: 985px) and (max-width: 1200px) {
    .hidden-pc-low{
        display: none;
    }

    
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hidden-m-t {
        display: none !important;
    }

    .intro{
        background-size: auto 100%;
        padding: 50px 0;
    }

    .intro-title{
        text-align: center !important;
    }

    .invite{
        background: none;
    }

    .invite-content{
        text-align: justify;
        padding: 0 10px;
    }
    
    .invite .row{
        flex-direction: column-reverse;
    }

    .invite-footer img{
        width: 90%;
    }

    .time-value{
        font-size: 60px;
        text-align: center;
    }

    .time-date{
        font-size: 18px;
        text-align: center;
    }

    .schedule{
        background: none;
    }
}


/* Tablet Only */

@media (min-width: 740px) and (max-width: 1023px) {
    .hidden-tl{
        display: none !important;
    }

    .centering-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}

/* Mobile Only */
@media (max-width: 739px) {
    .hidden-m {
        display: none !important;
    }

    .qr-img{
        width: 80%;
        margin-bottom: 30px;
    }

    .schedule-item-time{
       height: 25px;
    }

    .location-title img{
        height: 90px;
    }

    .location-title{
        font-size: 18px;
    }

    .location-content {
        padding: 0 22px 20px 15px;
    }

    .location-iframe iframe{
        height: 300px;
    }

    .confirm-title{
        padding: 20px 0;
    }

    .confirm-title img{
        height: 40px;
    }

    .confirm-form-title{
        font-size: 20px;
    }

    .footer-title img{
        height: 60px;
    }

    .footer{
        padding: 30px 0;
    }

    .confirm-content{
        padding: 0;
    }

    .invite-footer{ 
        display: none;
    }

    .invite-content{
        padding-bottom: 20px;
    }

    .album{
        margin-bottom: 0;
    }

    .confirm{
        padding: 0;
    }
    .confirm .mt-4{
        margin-top: 0 !important;
    }
}

/* 500*/
@media (min-width: 500px) and (max-width: 742px) {
    .hidden-500plus {
        display: none !important;
    }
}


@media (max-width: 500px) {
    .hidden-500{
        display: none !important;
    }
}


@media (max-width: 375px) {
    .main-content{
        width: 100% !important;
    }
}

